*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bouncedelay {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bouncedelay {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

.menuHeader {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.menuHeader__icon {
  font-size: 1.3rem;
}

.menuHeader__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuHeader__logo {
  padding: 1%;
  margin-top: 20px;
  width: 200px;
}

.menuimage {
  height: 290px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 700px) {
  .menuimage {
    height: 350px;
    -o-object-position: 0% 65%;
       object-position: 0% 65%;
  }
}

.menu {
  max-width: 1200px;
  margin: auto;
  position: relative;
  margin-top: -100px;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
}

@media (min-width: 700px) {
  .menu {
    background-color: #fff;
  }
}

.menu__title {
  padding-top: 20px;
  font-family: 'Shrikhand', cursive;
}

@media (min-width: 700px) {
  .menu__title {
    padding-right: 20px;
  }
}

.menu__heart {
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}

.menu__heart--2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: -webkit-linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.menu__heart:hover .menu__heart--1 {
  opacity: 0;
}

.menu__heart:hover .menu__heart--2 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 1;
}

.menu__titleBloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 30px;
  padding-top: 10px;
}

@media (min-width: 700px) {
  .menu__titleBloc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__button {
  width: 100%;
  text-align: center;
}

.menu__button--content {
  display: inline-block;
  margin: 30px 0 50px;
  padding: 15px 50px;
  border-radius: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0 4px 10px #bfbfbf;
          box-shadow: 0 4px 10px #bfbfbf;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu__button--content:hover {
  opacity: .8;
  -webkit-box-shadow: 0 4px 10px #333333;
          box-shadow: 0 4px 10px #333333;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
  padding: 15px;
}

@media (min-width: 400px) {
  .card {
    margin: 20px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 700px) {
  .card {
    background-color: #f2f2f2;
    border-radius: 30px;
  }
}

.card__h3 {
  width: 90px;
  position: relative;
  font-weight: 300;
  margin-right: 10px;
  padding-bottom: 10px;
}

@media (min-width: 700px) {
  .card__h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.card__h3:after {
  position: absolute;
  content: "";
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  padding: 2px;
  display: block;
}

@media (min-width: 700px) {
  .card__h3:after {
    padding: 15px;
  }
}

.card__menu {
  width: 80%;
}

.card__h4 {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__p {
  font-weight: 300;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__price {
  font-weight: bold;
}

.card__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media (min-width: 700px) {
  .card__bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0 4px 10px #bfbfbf;
          box-shadow: 0 4px 10px #bfbfbf;
  padding: 10px 0 10px 15px;
  margin: 10px 5px;
  height: 75px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  line-height: 25px;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  -webkit-animation-name: bouncedelay;
          animation-name: bouncedelay;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (min-width: 400px) {
  .card__box {
    width: 300px;
  }
}

.card__box:hover .card__choice {
  -webkit-transform: scale(2);
          transform: scale(2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 45px;
  padding-right: 13px;
  height: 100%;
}

.card__box:hover .card__price {
  -webkit-transform: translate(-5px);
          transform: translate(-5px);
  padding-right: 5px;
}

.card__box:hover .card__menu {
  width: 50%;
}

.card__box:hover .card__choice--icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.card__choice {
  text-align: center;
  border-radius: 0 15px 15px 0;
  line-height: 50px;
  background-color: #99e2d0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card__choice--icon {
  color: #99e2d0;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
}

.card__box1 {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.card__box2 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.card__box3 {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.footer {
  padding: 30px;
  background-color: #333333;
  color: #fff;
}

@media (min-width: 700px) {
  .footer {
    text-align: center;
  }
}

.footer__title {
  font-family: 'Shrikhand', cursive;
  padding-bottom: 10px;
}

.footer__ul {
  line-height: 2rem;
}

.footer__a {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__a:hover {
  border-bottom: 1px solid #fff;
}

.footer__icon {
  width: 20px;
}
/*# sourceMappingURL=menu.css.map */