@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

// variable

$colorPrimary: #9356dc;
$colorPrimaryLight : lighten($colorPrimary,33%);
$colorSecondary : #ff79da;
$colorTertiary : #99e2d0;
$colorTertiarydark :darken($colorTertiary, 50%);
$color1: black ;
$color1light : lighten($color1, 20%);
$color2: #fff;
$color3: #f2f2f2;
$color3dark :darken($color3, 5%);
$color3darkmore :darken($color3, 20%);

// mixin

@mixin mobile400 {
    @media (min-width: 400px) {
     @content;
    }
}
@mixin tablet {
    @media (min-width: 700px) {
      @content;
    }
}
@mixin flex($space,$wrap:wrap) {
    display: flex;
    justify-content: $space;
    flex-wrap: $wrap;
}
@mixin box-shadow($color: $color3darkmore){
    box-shadow: 0 4px 10px $color ;
    }

html {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: $color1;
}
img {
    width: 100%;
    object-fit: cover;
}
li {
    list-style: none;  
}

header,article {
  text-align: center;
}
.header {
  margin-bottom: 5px;
  box-shadow: 0px 5px 20px $color3darkmore;
  &__logo {
    padding: 1%;
    margin-top: 20px;
    width: 200px;
  }
}
.location {
  @include flex(center);
  background-color: $color3dark;
  padding: 15px;
  font-weight: 400;
  &__title {
      font-size: 2rem;
  }
  &__icon {
    margin-right: 20px;
  }
}
.explore {
  background-color: $color3;
  padding: 25px 20px;
  &__title {
      padding: 20px 30px 15px;
  }
  &__text {
      font-family: 'Montserrat', sans-serif;
      opacity: 0.8;
  }
  &__button {
      display: inline-block;
      margin: 30px;
      padding: 15px 20px;
      border-radius: 30px;
      color: $color2;
      background: linear-gradient($colorSecondary 0%, $colorPrimary);
      @include box-shadow ;
      transition: .3s;
      &:hover {
          opacity:0.8;
          font-size: 1.1rem;
          transform: translate(0,2px);
          @include box-shadow($color1light);
      }
  }
}
section {
    padding: 40px 10px;
}
.functioning {
    &__title {
        padding-left: 5%;
    }
    &__bloc {
        @include flex(space-around);
        flex-direction: column;
        align-content: stretch;   
        padding: 30px 10px;
        @include mobile400 {
            align-content: center;
        }
        @include tablet {
            flex-direction: row;
        }
    }
    &__choice {
        @include flex(space-around,nowrap);
        align-items: center;
        @include box-shadow;
        max-width: 400px;
        padding: 23px;
        margin: 15px 5px 15px 15px;
        background-color: $color3;
        border-radius: 28px;
        position: relative;
        transition: .5s;
        @include mobile400 {
            padding: 18px 25px;
        }
        
        &:hover {
            background-color:$colorPrimaryLight;            
        }
    }
    &__number {
        position: absolute;
        padding: 3px 8px;
        position: absolute;
        left: -15px;
        border-radius: 50%;
        background: $colorPrimary;
        color: $color2; 
        font-size: 0.8rem;
    }
    &__icon {
        padding: 5px;
        font-size: 1.1rem;
        color: grey;
        // &:hover {
        //     color: $color4;
        // }
    }
    &__text {
         padding: 5px 10px;
         font-weight: 500;
    }

}
.restaurants {
    background-color: $color3;
    &__bloc {
        @include flex(space-around);
        flex-direction: column;
        @include mobile400 {
            flex-direction: row;
        }
    }
    
    &__title {
        padding-left: 5%;
    }
    &__box {  
        position: relative;  
        margin: 20px 10px;  
        border-radius: 20px;
        max-width: 100%;
        background-color: $color2;
        transition: .5s;
        @include mobile400 {
            width: 300px;
        }
        &:hover {
            @include box-shadow($colorPrimary);
            transform: translate(0,2px);
        }
    }
    &__tag {
        position: absolute;
        top: 15px;
        right: 10px;
        background-color: $colorTertiary;
        padding: 2%;
        width: 80px;
        text-align: center;
        font-size: 0.9rem;
        color: $colorTertiarydark;
    }
    &__image {
        height: 180px;
        border-radius: 20px 20px 0 0;
        &--fit {
            object-position: 10% 60%;
        }
        &--fit2 {
            object-position: 10% 90%
        }
    }
    &__item {
        @include flex(space-between,nowrap);
        padding: 10px 20px;
        line-height: 23px;
        
    }
    &__icon {
        align-self: center;
        font-size: 1.4rem;
        bottom: 25px;
        transition: .2s;
        // &:hover {
        //     background: linear-gradient(#ff79da 0%, #9356dc 100%);
        // }
    }   
}
.menuHeader {
    @include flex(space-around,nowrap );
    align-items : center;
    padding:0 30px;
    &__icon {
       font-size: 1.3rem;
    }
    &__title {
        flex: 1;
    }
}
.menuimage {
    height: 290px;
    width: 100%;
    object-fit: cover;
    @include tablet {
        height: 350px;
        object-position: 0% 65%;

    }
}
.menu {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    background-color: $color3;
    border-radius: 30px 30px 0 0; 
    @include tablet {
        background-color: $color2;
    }
    &__title {
        padding-top: 20px;
        font-family: 'Shrikhand', cursive;
    }
    &__icon {
        font-size: 1.4rem;
        @include tablet {
            padding-left: 20px
        }
    }
    &__titleBloc {
        @include flex(space-around, nowrap);
        align-items: baseline;
        margin-top: 30px;
        padding-top: 10px;
        @include tablet {
            justify-content: center;
        }
    }
    &__button {  
        width: 100%;
        text-align: center;
        &--content {
            display: inline-block;
        margin: 30px;
        padding: 15px 50px;
        border-radius: 30px;
        color: $color2;
        background: linear-gradient($colorSecondary, $colorPrimary);
        @include box-shadow ;
        transition: .3s;
        &:hover {
            opacity:0.8;
            font-size: 1.1rem;
            transform: translate(0,2px);
        }  
    }      
  }
}
.card {
    @include flex(space-around,wrap);
    flex-direction: column;
    margin: 5px 0;
    padding: 15px;
    @include mobile400 {
        margin: 20px;
        align-content: space-around;
        flex-direction: row;   
    }
    @include tablet {
        background-color: $color3;
        border-radius: 30px;
        
    }
    &__h3 {
        width: 90px;
        position: relative;
        font-weight: 300;
        padding-bottom: 10px;
        @include tablet {
            display: flex;
            align-items: center;
            padding: 0;
        }
        &:after {
            position: absolute;
            content: "";
            border-bottom: 4px solid $colorTertiary;
            width: 45px;
            padding: 2px;
            display: block;
            @include tablet {
                padding: 15px;
            }
        }
    }
    &__menu {
        width: 80%;
    }
    &__p {
        font-weight: 300;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__price {
        font-weight: bold
    }
    &__bloc {
        @include flex(space-around,nowrap);
        flex-direction: column;
        align-content: stretch;  
        // @include mobile400 {
        //     align-content: center;
        // }
        @include tablet {
            flex-direction: row;
        }
    }
    &__box {
        @include flex(space-between,nowrap);
        align-items: center;
        @include box-shadow;
        padding: 10px;
        margin: 10px 5px;
        height: 75px;
        overflow: hidden;
        background-color: $color2;
        border-radius: 15px;
        line-height: 25px;
        // position: relative;
        transition: .2s;
        @include mobile400 {
            width: 300px;
        }
        // &:hover .card__choice{
            
        //     @include box-shadow($color4);
        //     transform: translate(0,2px);
        // }

    }
}
.footer {
    padding: 30px;
    background-color: $color1light;
    color: $color2;
    @include tablet{
        text-align: center;
    }
    &__title {
        font-family: 'Shrikhand', cursive;
        padding-bottom: 10px;
    }
    &__ul {
        line-height: 2rem;
    }
    &__a {
        color: #fff;
        transition: .2s;
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
    &__icon {
        width: 20px;
    }
}
