.location {
    @include flex(center);
    background-color: $color3dark;
    padding: 15px;
    font-weight: 400;
    &__title {
        font-size: 2rem;
    }
    &__icon {
      margin-right: 20px;
    }
}

.explore {
    background-color: $color3;
    padding: 25px 20px;
    &__title {
        padding: 20px 30px 15px;
    }
    &__text {
        opacity: 0.8;
    }
}

section {
    padding: 40px 10px;
}

.functioning {
    max-width: 1600px;
    margin: auto;
    &__title {
        padding-left: 5%;
    }
    &__bloc {
        @include flex(space-around);
        flex-direction: column;
        align-content: stretch;   
        padding: 30px 10px;
        @include mobile400 {
           align-content: center;
        }
        @include tablet {
            flex-direction: row;
        }
    }
    &__choice {
        @include flex(space-around,nowrap);
        align-items: center;
        @include box-shadow;
        max-width: 400px;
        padding: 20px;
        margin: 15px 5px 15px 15px;
        background-color: $color3;
        border-radius: 28px;
        position: relative;
        transition: .3s;
        @include mobile400 {
            padding: 18px 25px;
        }  
        &:hover {
            background-color:$colorPrimaryLight; 
            @include box-shadow(grey);
            & .functioning__icon {
                color: #9356dc;
            }           
        }
    }
    &__number {
        position: absolute;
        padding: 3px 8px;
        position: absolute;
        left: -15px;
        border-radius: 50%;
        background: $colorPrimary;
        color: $color2; 
        font-size: 0.8rem;
    }
    &__icon {
        padding: 5px;
        font-size: 1.1rem;
        color: grey;
    }
    &__text {
        padding: 5px 10px;
        font-weight: 500;
    }
}

.restaurants {
    background-color: $color3;
    &__bloc {
        max-width: 2000px;
        margin: 0 auto;
        @include flex(space-around);
        flex-direction: column;
        @include mobile400 {
            align-content:center;
        }
        @include tablet {
            flex-direction: row;
        }
    } 
    &__title {
        max-width: 2000px;
        margin: 0 auto;
        padding-left: 2%;
    }
    &__box {  
        position: relative;  
        margin: 20px 10px;  
        border-radius: 20px;
        max-width: 100%;
        background-color: $color2;
        transition: .5s;
        @include mobile400 {
            width: 300px;
        }
        &:hover {
            @include box-shadow($colorPrimary);
            transform: translate(0,2px);
        }
    }
    &__tag {
        position: absolute;
        top: 15px;
        right: 10px;
        background-color: $colorTertiary;
        padding: 2%;
        width: 80px;
        text-align: center;
        font-size: 0.9rem;
        color: $colorTertiarydark;
    }
    &__image {
        height: 180px;
        border-radius: 20px 20px 0 0;
        &--fit {
            object-position: 10% 60%;
        }
        &--fit2 {
            object-position: 10% 90%
        }
    }
    &__item {
        @include flex(space-between,nowrap);
        padding: 10px 20px;
        line-height: 23px;     
    }
     //animation heart
    &__icon {             
        position: relative; 
        font-size: 1.6rem;
        cursor:pointer;
        align-self: center;
        &--2 {
            @include heart; 
        }
        &:hover {
            & .restaurants__icon--1 {
                opacity: 0;
            }
            & .restaurants__icon--2{
                @include animation (
                    $name:heart,
                    $duration: 0.3s,
                    );
            }
        }
    }      
}