.menuimage {
    height: 290px;
    width: 100%;
    object-fit: cover;
    @include tablet {
        height: 350px;
        object-position: 0% 65%;
    }
}
.menu {
    max-width: 1200px;
    margin: auto;
    position: relative;
    margin-top: -100px;
    background-color: $color3;
    border-radius: 30px 30px 0 0; 
    @include tablet {
        background-color: $color2;
    }
    &__title {
        padding-top: 20px;
        font-family: 'Shrikhand', cursive;
        @include tablet {
            padding-right: 20px;
        }
    }
    // animation-Heart
    &__heart {
        position: relative;
        font-size: 1.8rem;
        cursor:pointer;
        &--2 {
           @include heart;
        }
        &:hover {
            & .menu__heart--1 {
                opacity: 0;
            }
            & .menu__heart--2{
                @include animation (
                $name:heart,
                $duration: 0.3s,
            );
            }
        }
    }
    &__titleBloc {
        @include flex(space-around, nowrap);
        align-items: baseline;
        margin-top: 30px;
        padding-top: 10px;
        @include tablet {
            justify-content: center;
        }
    }
    &__button {  
        width: 100%;
        text-align: center;
        &--content {
            margin: 30px 0 60px;
            padding: 20px 50px;
    }      
  }
}
.card {
    @include flex(space-around,nowrap);
    flex-direction: column;
    margin: 5px 0;
    padding: 15px 10px;
    @include tablet {
        background-color: $color3;
        border-radius: 30px; 
        margin: 20px;
        padding: 25px 15px;
        align-content:center;
        align-items: center;
    }
    @include desktop {   
        margin: 20px;
        align-content: space-around;
        flex-direction: row; 
        flex-wrap: wrap;     
    }
    &__h3 {
        width: 90px;
        position: relative;
        font-weight: 300;
        margin:0 10px;
        padding-bottom: 10px;
        @include tablet {
            display: flex;
            align-self:center;
            padding: 0;
            margin-bottom: 20px;

        }
        @include desktop {
            margin-bottom: 0;
            margin:0 10px 0 0;
        }
        &:after {
            position: absolute;
            content: "";
            border-bottom: 4px solid $colorTertiary;
            width: 45px;
            padding: 2px;
            display: block;
            @include tablet {
                padding: 14px;
            }
        }
    }
    &__menu {
        width: 80%;
    }
    &__h4 {
       @include overflow;
    }
    &__p {
        font-weight: 300;
        @include overflow;
    }
    &__price {
        font-weight: bold
    }
    &__bloc {
        @include flex(space-around,nowrap);
        flex-direction: column;
        align-content: stretch;  
        @include desktop {
            flex-direction: row;
        }
    }
    //animation-bounce,selection
    &__box {
        @include flex(space-between,nowrap);
        align-items: flex-end;
        @include box-shadow;
        padding: 10px 0 10px 15px;
        margin: 10px 5px;
        height: 75px;
        overflow: hidden;
        background-color: $color2;
        border-radius: 15px;
        line-height: 25px;
        transition: .2s;
        opacity: 0;
        @include animation(
            $name: bouncedelay,
            $duration: 1.5s,
        );
        @include tablet {
            width: 300px;
        }
        &:hover {
            & .card__choice {
            transform: scale(2);
            @include flex(center);
            align-items: center;
            background-color: $colorTertiary;
            border-radius: 0 15px 15px 0;
            width: 45px;
            padding-right: 13px;
            height: 100%; 
          }
          & .card__price {
            transform: translate(-5px);
            padding-right: 5px;
          }
          & .card__menu {
              width: 50%;
          }
          & .card__choice--icon {
            transition: 0.4s;
            transform: rotateZ( 360deg ) 
          }
        }
    }
    @for $i from 1 through 4 {
        &__box#{$i} {
          animation-delay: -0.5 + $i * 0.2s;
        }
    }
    &__box4 {
        @include desktop {
            margin-left: 105px;
        }
    }
    &__choice{
        text-align: center;
        border-radius: 0 15px 15px 0;
        line-height: 50px;
        background-color: $colorTertiary;
        transform:scale(0);
        transform: translateX(100%);
        transition: all 0.3s;
        &--icon {
            color: $colorTertiary;
            background-color: $color2;
            border-radius: 50px;
            text-align: center;
      
        }    
    }
    
}
