.menuHeader {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    @include flex(space-around,nowrap);
    align-items : center;
    padding:0 30px;
    &__icon {
       font-size: 1.3rem;
    }
    &__title {
        flex: 1;
    }
    &__logo {
        padding: 1%;
        margin-top: 20px;
        width: 200px;
      }
}